@import "chrome://pano/skin/pano-tree.css";

#pano-sidebarbutton,
#pano-alltabs-group-menu {
  list-style-image: url("chrome://pano/content/pano.svg");
}
#pano-pane-button {
  list-style-image: url("chrome://pano/content/pano-pane.svg");
}
#pano-sidebarbutton:hover {
  background-image: -moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.5)),
                    -moz-linear-gradient(transparent, rgba(0,0,0,.25) 30%),
                    -moz-linear-gradient(transparent, rgba(0,0,0,.25) 30%);
  background-position: 1px -1px, 0 -1px, 100% -1px;
  background-size: -moz-calc(100% - 2px) 100%, 1px 100%, 1px 100%;
  background-repeat: no-repeat;
}
:-moz-any(#pano-sidebarbutton, #pano-pane-button) .toolbarbutton-icon {
  width: 18px;
  height: 18px;
  -moz-margin-end: 0;
}

#panoToolBox {
  max-width: 308px;
}

#panoTabGroupTree {
  min-width: 300px;
  min-height: 200px;
  max-height: 600px;
  -moz-transition: height 0.3s;
}

