
.pano-tree treechildren::-moz-tree-image {
  padding-right: 2px;
  margin: 0px 2px;
  width: 16px;
  height: 16px;
}
.pano-tree treecol[anonid="closebutton"] {
  width: 33px;
}
.pano-tree[hidevscroll] treecol[anonid="closebutton"] {
  width: 18px;
}

/* tooltip */
#panoTreeTooltipBox {
  max-width: 280px;
}
#panoTreeTooltipImage {
  width: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: -moz-element(#panoTabCapture);
}
#panoTreeTooltipImageContainer {
  -moz-box-pack: center;
}

/* toolbox */
#panoToolBox {
  border: none;
}

/* toolbar */
#panoToolBox toolbar:not(:-moz-lwtheme),
#panoBottomBar:not(:-moz-lwtheme) {
  -moz-appearance: none;
  border-style: none;
  background-color: -moz-Dialog;
}

/* toolbar items */
.panoToolbarButton {
  list-style-image: url("chrome://pano/skin/buttons.png");
}

#hideTabbarCheck {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}
#panoExpandAll {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}
#panoCollapseAll {
  -moz-image-region: rect(0, 16px, 16px, 0);
}
#panoCloseEmptyGroups {
  -moz-image-region: rect(0, 64px, 16px, 48px);
}
#panoExportSessionsButton {
  -moz-image-region: rect(32px, 16px, 48px, 0);
}
#panoImportSessionsButton {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}

/* Context-Menu */
#panoContextMenu_bookmarksAllTabs {
  list-style-image: url("chrome://browser/skin/places/bookmark.png");
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}
#panoContextMenu_reloadAllTabs {
  list-style-image: url("chrome://browser/skin/reload-stop-go.png");
  -moz-image-region: rect(0px, 14px, 14px, 0px);
}

/* lwtheme */
#panoSearchBox:-moz-lwtheme {
  -moz-appearance: none;
  background-clip: padding-box;
  border: 1px solid ThreeDShadow;
  border-radius: 2px;
  background-color: rgba(255,255,255,.9);
}
.panoToolbarButton:-moz-lwtheme,
.panoToolbarButton:-moz-lwtheme > .toolbarbutton-menubutton-button {
  -moz-appearance: none;
  border-style: none;
}

.panoToolbarButton:-moz-lwtheme-brighttext {
  background-image: linear-gradient(hsla(0,0%,40%,.6), hsla(0,0%,30%,.6) 80%);
}
.panoToolbarButton:-moz-lwtheme-brighttext:hover {
  background-image: linear-gradient(hsla(0,0%,60%,.6), hsla(0,0%,45%,.6) 80%);
}
.panoToolbarButton:-moz-lwtheme-darktext {
  background-image: linear-gradient(hsla(0,0%,60%,.5), hsla(0,0%,45%,.5) 80%);
}
.panoToolbarButton:-moz-lwtheme-darktext:hover {
  background-image: linear-gradient(hsla(0,0%,80%,.5), hsla(0,0%,60%,.5) 80%);
}

