/*
 * Pano Tree Style
 *
 * Common Style Guide
 *  see https://developer.mozilla.org/en/XUL_Tutorial/Styling_a_Tree
 *
 * Additional properties:
 *
 *  currentTab  : the cell and row of the current active tab
 *  currentGroup: the cell and row of the current active group
 *  item        : the cell and row of tabs
 *  group       : the cell and row of groups
 *  AppTabs     : the cell and row of the pinned tab's group
 *  apptab      : the cell and row of pinned tabs
 *  pending     : the cell and row of tab which is not loaded the contents
 *  unread      : the cell and row of tab which is not selected yet
 *  loading     : the cell and row of tab which is loading(busy)
 *  titlechanged: the cell and row of tab which is changed title
 *
 * Use following "@-moz-document" (see https://developer.mozilla.org/en/CSS/@-moz-document )
 * if you want to apply styles to only either the sidebar or the panel,
 *
 *  Sidebar:
 *    @-moz-document url(chrome://pano/content/sidebar.xul) { ... }
 *  Panel:
 *    @-moz-document url(chrome://browser/content/browser.xul) { ... }
 * 
 */

@charset "utf-8";
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* tab default icon */
.pano-tree treechildren::-moz-tree-image(item, primary) {
  list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
}
/* tab loading icon */
.pano-tree treechildren::-moz-tree-image(item, primary, loading) {
  list-style-image: url("chrome://browser/skin/tabbrowser/loading.png");
}
/* group icon */
.pano-tree treechildren::-moz-tree-image(group, primary) {
  list-style-image: url("chrome://browser/skin/tabview/tabview.png");
  -moz-image-region: rect(1px, 35px, 16px, 19px);
}
/* AppTab group icon */
.pano-tree treechildren::-moz-tree-image(group, primary, AppTabs) {
  list-style-image: url("chrome://pano/skin/application_double.png");
  -moz-image-region: auto;
}
/* close button icon */
.pano-tree treechildren::-moz-tree-image(checked) {
  list-style-image: url("chrome://global/skin/icons/close.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}
.pano-tree treechildren::-moz-tree-image(checked, hover) {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

.pano-tree treechildren::-moz-tree-cell-text(currentTab),
.pano-tree treechildren::-moz-tree-cell-text(currentGroup) {
  font-weight: bold;
}

.pano-tree treechildren::-moz-tree-cell-text(unread) {
  color: magenta !important;
}

.pano-tree treechildren::-moz-tree-cell-text(pending) {
  color: GrayText !important;
}

.pano-tree treechildren::-moz-tree-cell-text(hover) {
  text-decoration: underline;
}

.pano-tree treechildren::-moz-tree-cell-text(titlechanged) {
  font-style: italic;
}

